body{
    text-transform: capitalize;
    background-color: rgb(20, 20, 20);
    color: white;
}

     /*empieza el header*/


.ul-header .li-header{
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;
    background-color: black;
}

.a-header{
    text-decoration: none;
    color: white;
}


.header-logoname{
    color: white;
    text-transform: uppercase;
    text-indent: 30px;
}


.img-logo{
    text-align: center;
}


#header{
    background-color: black;
    padding: 0px 0px 20px 0px;
}

#div-buscador{
    text-align: right;
}


    /*empieza el main*/

#section-peliculas-del-momento {
display: flex;
flex-wrap: wrap;
}


.ul-peliculas-del-momento{
 display: flex;
 list-style-type: none; 
 flex-wrap: wrap;  
}


.ul-series-del-momento{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}


    /*empieza el footer*/


#footer{
    background-color: red;
    text-transform: capitalize;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-weight: bold;
    font-size: 20px;
}