body{
    text-transform: capitalize;
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 900;
}



a {
text-decoration: none;
color: white;
}

li{
    list-style-type: none;
}


/*Empieza el header*/

.nav-header {
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
}

.a-header {
    text-decoration: none;
    color: white;
    display: flex;
    width: 180px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

.header-logoname{
    color: white;
    text-transform: uppercase;
    text-indent: 30px;
}

.a-img-header{
    text-decoration: none;
}

.img-logo{
    text-align: center;
}

.div-menu{
    display: flex;
    flex-wrap: nowrap;
}

#header{
    background-color: black;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*Termina el header*/


/*Empieza el main*/

.section-peliculas-del-momento {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}


.section-series-del-momento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.series-momento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pelis-momento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pelis-valoradas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h3-titulo{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    text-align: center;
}

.lo-mas-valorado-en-peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/*Termina el main*/

/* boton */
.boton{
    cursor: pointer;
}

/*Empieza el footer*/

#footer{
    background-color: red;
    text-transform: capitalize;
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    height: auto;
}


/*Termina el footer*/


/*Detalles de películas*/

/*Termina detalles de películas*/


/*Detalles de series*/

.h2-main-detail-series {
    text-transform: uppercase;
    text-decoration: underline;
    color: red;
    text-align: center;
}

.ul-detail-series {
    list-style: none;
    text-transform: capitalize;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    align-items: center;
}

ul li .primer-a-detail-series {
    text-decoration: none;
    color: white;
}

/*Termina detalle de series*/


/*Empieza géneros*/

.h2-generos{
    font-size: 35px;
}

#section-generos-peliculas{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 25px;
}

#section-generos-series{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 25px;
}

/*Termina géneros*/


/*Empieza detalles de géneros*/

.h1-detalles-generos{
    text-align: left;
}

.li-detalles-generos{
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
}

/*Termina detalle de géneros*/


/*Empieza películas favoritas*/

section div .h1-peliculas-favoritas{
    text-transform: capitalize;
    font-size: 35px;
}

section div ul li{
    list-style: none;
}

/*Termina películas favoritas*/


/*Empieza resultados de búsqueda */

.li-resultados-busqueda {
    text-decoration: none;
    color: white;
    font-size: 15px;
    list-style: none;
    text-transform: capitalize;
}

#a-related {
    text-decoration: underline;
    color: blue;
}

.resultados-de-busqueda {
    display: flex;
    overflow-x: scroll;
    gap: 4%;
    margin: 0px 0px 0px 25px;
}

/*Termina resultados de búsqueda*/


/*Responsive*/

@media (max-width: 426px){
    body{
        background-color: rgb(20, 20, 20);
    }
    
    #header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .nav-header {
        height: 100px;
        width: 100%;
    }

    .li-resultados-busqueda img {
        width: 90%;
    }

    .h2-main-detail-movies {
        text-align: center;
    }

    .ul-detail-movies {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .h2-main-detail-series {
        text-align: center;
    }

    .ul-detail-series {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}

/*Termina responsive*/